.spinner-ss {
    position: relative;
    z-index: 9;
    background-color: #7AD8E7 !important;
}
#loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

.checkbox-ss {
    display: block;
    margin-bottom: 15px;
  }
  
  .checkbox-ss input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .checkbox-ss label {
    position: relative;
    cursor: pointer;
  }
  
  .checkbox-ss input:checked+label:before {
    background: black;
  }
  .checkbox-ss label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0 1px 2px #0000000d, inset 0 -15px 10px -12px #0000000d;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -3px;
  }
  
  .email-ss {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
  }
  
  .email-ss input:focus-visible {
    outline: none;
}

.checkbox-ss label{
    font-family: "Comfortaa", cursive;
    font-size: 14px;    
}

.email-ss input {
    padding: 5px 15px;
    width: 100%;
    font-family: "Comfortaa", cursive;
    font-size: 14px;
    border: 1px solid;
}

  .checkbox-ss input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }


.subscrip_btns a {
    height: 60px;
    width: 49%;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #7AD8E7;
    text-transform: uppercase;
    border: 1px solid #7AD8E7;
    background: #fff;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 70px;
    padding-top: 8px;
}
.free_trial {
    background: #7AD8E7 !important;
    color: #fff !important;
    cursor: pointer;
}
.free_trial:hover {
opacity: .8;
}
.edit_subs {
    margin-right: auto;
}
.free_trial {
    margin-left: auto;
}
.subscrip_btns a:hover {
    background: #7AD8E7;
    color: #fff;
}
.subscrip_btns {
    display: flex;
}
.subscrip_para p {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #666666;
    margin: 0;
}
.subscrip_para p span {
    color: #4285F4;
    font-weight: 600;
}
.subscrip_para {
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid #B2BCCA;
    border-radius: 4px;
    margin-top: 16px;
    text-align:center;
}

@media screen and (max-width:576px) {
    .subscrip_btns a {
        height: 45px;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
    }
    .subscrip_btns a:nth-child(1) {
        margin-bottom: 8px;
    }
    .subscrip_btns a:nth-child(2) {
        margin-top: 8px;
    }
    .subscrip_btns {
        flex-wrap: wrap;
    }    
}